@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@1,300&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
}

/** NAVBAR CAROUSEL**/

.corousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;

}



.carousel-caption {
    bottom: 45px;
    /** subir texto inferior**/
}

.carousel-caption h2 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;

}


.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 2.9;
    font-family: poppings;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    box-shadow: 26px 28px 19px 6px rgba(0, 0, 0, 0.1);

}

/** NAVBAR **/

/**abajo*/
nav.abajo{
    background-color:black;
}


.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-style: bold;
    
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-nav {
    text-align: center;
    
}

.nav-link {
    padding: .2rem 1rem;
    

}

/** prodctos top**/

#productos-top {
    padding: 1rem;
    font-family: merienda;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


#productos-top h1 {
    font-size: 3rem;
    color: #f79f1b;
    font-family:'Oswald', sans-serif;
    letter-spacing: 2.5px;
    text-shadow: 0px 0px 0 rgb(237, 149, 17),
        -1px 0px 0 rgb(226, 138, 6),
        -2px 0px 0 rgb(216, 128, 0),
        -3px 0px 0 rgb(206, 118, 0),
        -4px 0px 3px rgba(0, 0, 0, 0.23),
        -4px 0px 1px rgba(0, 0, 0, 0.5),
        0px 0px 3px rgba(0, 0, 0, .2);
}


.productos-top img {
    width: 480px;
    height: 500px;
    margin: 1px;
    box-shadow: -17px 8px 23px -14px black;
    border-radius: 2rem;
}

.productos-top h2 {
    margin: left 5px;
    font-family: Candal, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 34px;
    word-spacing: -1px;
    color: white;
    background-color: grey;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    border-radius: 2rem
}


/** gallery catalogo**/
#gallery {
    margin: 2rem;
    padding: 1rem;
    font-family: merienda;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #F79F1B;
    border-radius: 1rem;

}

.title-catalogo {
    margin-bottom: 2rem;
    color: black;

}



/**footer**/

.logo img {
    max-width: 10rem;
    max-height: 10rem;
    padding-bottom: 2rem;
}

.